.input {
   background-color: transparent;
   border: 1px solid #f5f5f5;
   padding: 10px 15px;
   border-radius: 20px;
   outline: none;
}

.label {
   position: absolute;
   top: 50%;
   left: 15px;
   font-size: 14px;
   cursor: pointer;
   transition: all 0.3s ease 0s;
}

.input:focus,
.input:valid {
   border: 1px solid rgb(22, 175, 22);
}
.input:focus + .label,
.input:valid + .label {
   top: 0;
   color: rgb(22, 175, 22);
}
.input-result {
   background-color: transparent;
   border-bottom: 1px solid #f5f5f5;
}

.button {
   border: 1px solid #f5f5f5;
   padding: 10px 15px;
   transition: all 0.3s ease 0s;
}
.button:hover {
   color: #252525;
   background-color: #f5f5f5;
}
.input-item {
   padding-top: 15px;
   position: relative;
}